.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #009966;
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  